<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><%= t('admin.edit_drink') %></div>
  </div>

  <div class="panel-body">
    <%= form_for @drink, url: admin_shop_drink_path(@shop.id, @drink), html: { class: 'form-horizontal', role: 'form' } do |f| %>

      <div class="form-group has-feedback <%= 'has-error' if @drink.errors.messages[:name] %>">
        <%= f.label :name, class: 'control-label col-lg-2' %>
        <div class="col-lg-4">
          <%= f.text_field :name, class: 'form-control' %>
          <% if @drink.errors.messages[:name].any? %>
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            <% @drink.errors.messages[:name].each do |msg| %>
              <span class="help-block"><%= msg %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-2">
          <%= f.submit t('admin.edit_drink'), class: 'btn btn-default' %>
          <%= link_to t('admin.back_to_shop', shop_name: @shop.name), admin_shop_path(@shop.id), class: 'btn btn-link' %>

          <div class="pull-right">
            <%= button_to t('delete'), admin_shop_drink_path(@shop.id, @drink), method: :delete,
                class: 'btn btn-link', data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
