<div id="menu-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= @group.shop.name %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag @group.shop.menu.url, class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">訂購 <%= @group.shop.name %> 飲料</h3>
  </div>
  <div class="panel-body">
    <%= form_for @order, url: group_orders_path(@group), html: { class: 'form-horizontal', role: 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :drink, class: 'control-label col-lg-3' %>
        <div class="col-lg-3">
          <%= f.text_field :drink, class: 'form-control', data: { toggle: 'autocomplete' } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :price, class: 'control-label col-lg-3' %>
        <div class="col-lg-3">
          <%= f.number_field :price, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'control-label col-lg-3' %>
        <div class="col-lg-6">
          <%= f.text_area :description, class: 'form-control', rows: 8 %>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
          <%= f.submit t('submit'), class: 'btn btn-default' %>
          <%= link_to '刪除', group_path(@group), class: 'btn btn-link',
              method: :delete, data: { confirm: '你正打算取消並刪除這次團購，有關此團的相關訂單也將一同刪除，此操作所影響的資料將無法復原，你確定要這麼做嗎？' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
