<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% if @group.active? %>
        <div class="well well-sm text-info">
          <%= link_to @group.owner.name, user_path(@group.owner) %> 在 <%= @group.created_at.to_s(:time) %> 的時候揪了大家來喝 <%= @group.shop.name %>！<%= t('groups.deadline_is', time: l(@group.deadline, format: :long)) %>，快點來點飲料！
        </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">飲料團資訊</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>揪團時間：<%= l(@group.created_at, format: :long) %></li>
            <li>收單時間：<%= l(@group.deadline, format: :long) %></li>
            <li>夥伴人數：<%= @group.users.count %> 人</li>
            <li>訂購的飲料店：<%= @group.shop.name %></li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @group.owner.name %> 和他的小夥伴們</h3>
        </div>

        <% if @group.orders.empty? %>
          <div class="panel-body">太慘了吧！竟然還沒有人點飲料。</div>
        <% else %>
          <ul class="list-group">
            <% @group.orders.each do |order| %>
              <li class="list-group-item">
                <%= link_to order.user.name, user_path(order.user) %> 點了 <%= order.drink.name %> <%= order.description %>。
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @group.shop.name %>菜單（點圖放大）</h3>
        </div>
        <div class="panel-body">
          <%= image_tag @group.shop.menu.url, class: 'img-responsive',  data: { toggle: 'modal', target: '#menu-modal' } %>
        </div>
      </div>

      <div class="panel panel-default">
        <%= link_to '跟團！', new_group_order_path(@group), class: 'btn btn-primary btn-block' %>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">熱門推薦</h3>
        </div>
        <div class="panel-body">
          可以放一些比較多人點的飲料。
        </div>
      </div>
    </div>
  </div>
</div>
