<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <% if @group.active? %>
        <div class="well well-sm text-info">
          <%= link_to @group.owner.name, user_path(@group.owner) %> 在 <%= @group.created_at.to_s(:time) %> 的時候揪了大家來喝 <%= @group.shop.name %>！<%= t('groups.deadline_is', time: l(@group.deadline, format: :long)) %>，快點來點飲料！
        </div>
      <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">飲料團資訊</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>揪團時間：<%= @group.created_at %></li>
              <li>收單時間：<%= @group.deadline %></li>
              <li>夥伴人數：<%= @group.users.count %></li>
              <li>訂購的飲料店：<%= @group.shop.name %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <% if !@group.users.include? current_user %>
        <%= render partial: 'new_order_form' %>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @group.owner.name %> 和他的小夥伴們</h3>
        </div>

        <% if @group.orders.empty? %>
          <div class="panel-body">太慘了吧！竟然還沒有人點飲料。</div>
        <% else %>
          <ul class="list-group">
            <% @group.orders.each do |order| %>
              <li class="list-group-item">
                <%= link_to order.user.name, user_path(order.user) %> 點了 <%= order.drink.name %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
